.tile {
    width: 100%;
    height: 10%;
    overflow: hidden;
    background-image: url(img/buttonBG.png);
    background-repeat: no-repeat;
    font: normal 20px Open Sans !important;
}

.tileImage {
    padding: 5px 5px 5px 5px !important;
}

.tileText {
    margin-top: 9%;
}

.tiles {
    overflow-y: auto;
}